html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
}
.header-container {
    display: flex;
    /* border: 2px solid yellow; */
    background-color: #1F2937;
    padding-left: 128px;
    padding-bottom: 64px;
    padding-right: 128px;
    padding-top: 20px;
    flex-direction: column;
    gap: 64px;
}
.header-container .header .links li a{
    font-size: 18px;
    color: #E5E7EB;
}
.header{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid wheat; */
    align-items: center;
    flex-wrap: wrap;
}
.header-content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    /* border: 2px solid yellow; */
    flex-wrap: wrap-reverse;
}
.header-container .header-content .intro{
    display: flex;
    flex-direction: column;
    width: 500px;
    /* border: 2px solid brown; */
    align-items: center;
}
.header-container .header-content .intro .sign-up{
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 4px 16px;
    border: none;
}
.header-content .intro .start{
    font-size: 48px;
    /* border: 2px solid red; */
    font-weight:900;
    color: #F9FAF8;
    margin: 0;
}

.links{
    display: flex;
    gap: 32px;
    /* border: 2px solid yellow; */
    padding-left: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.footer {
    margin-top: auto;
}

.logo {
    display: flex;
    /* border: 2px solid green; */
    justify-content: center;
    padding: 0;
}

.logo img {
    width: 100px;
    height: auto;

}
.middle-container .photos .photo-item img{
    width: 200px;
    height: auto;
    /* border: 2px solid blue; */
    border-radius: 8px;
}
.header-container .header-content img{
    width: 250px;
    height: auto;
}
.middle-container, .quote-container{
    color: black;
}
.middle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middle-container .photos{
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
    gap: 64px;
    flex-wrap: wrap;
}
.middle-container .photos .photo-item{
    width: 200px;
    text-align: center;
}

.middle-container .large-font{
    font-size: 32px;
}
.bold{
    font-weight: bold;
}
.quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding-top: 20px;

}
.quote{
    font-style: italic;
    font-size: 36px;
    width: 400px;
    margin: 0;
    color: #1F2937;
    font-weight: 300;
}
.quote-speaker{
    width: 380px;
    display: flex;
    justify-content: flex-end;
}
.sign-up-container{
    display: flex;
    color: #1F2937;
    font-weight: 900;
    justify-content: center;
    /* border: 2px solid green; */
    margin-top: 50px;
    margin-bottom: 50px;
}
.sign-up-box{
    display: flex;
    background-color: #3882F6;
    color: white;
    padding: 8px 32px;
    border-radius: 10px;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}
.sign-up-text{
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: center;
    /* border: 2px solid yellow; */
}
.sign-up-text p{
    /* border: 2px solid red; */
    margin: 0;
}
.sign-up-2{
    background-color: white;
    color: #3882F6;
    border-radius: 8px;
    padding: 4px 16px;
    border: none;
}
.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}
button {
  cursor: pointer;
}